.banner-wrapper {
    background-color:#0d3076;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    height: 60px;
}

.banner-wrapper h1 {
    /* width: 30%; */
    font-size: 2.5vw;
}

.banner-wrapper img {
    width: 60px;
    border-radius: 50%;
}

.logout {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    visibility: visible;
}

.logout:hover {
    color: orange;
}

.logout:active {
    color: red;
}

.hidden {
    visibility: hidden;
}