.content-wrapper {
    width: 100%;
    display: flex;
    outline: green solid 2px;
}

.home-content-wrapper {
    width: 100%;
    margin: 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content-wrapper form {
    width: 70%;
}

.home-content-wrapper h1 {
    margin: 24px;
    color: #333;
}

.input {
    width: 60%;
    border: #333 solid 1px;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input,
.input select, 
.input label,
.input button,
.input textarea {
    width: 100%;
    height: 30px;
    margin: 12px;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 600;

}

.input .file, .input label {
    padding: 0;
}

.input textarea {
    height: 100px;
}

.input select {
    width: calc(100% + 24px);
}
.input button, tr button {
    width: 100px;
    height: 20px;
    margin: 3px 0;
    background-color:  rgb(114, 114, 241);
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border:  #fff solid 1px;
}

 button.submit, button.submit2 {
    width: 100px;
    height: 35px;

}

button.submit {
    margin-left: 12px;
}
button.submit2 {
    margin: 12px 0;
}

button:hover {
    background-color: #1e90ff;
    border: #1e90ff solid 1px;
}

button:active {
    background-color: #000;
    border: #fff solid 1px;
    color: #fff;
}

.notification {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}

#success,
#failure {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    width: 100%;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 0;
    background-color: lightgreen;
    font-style: italic;
    border-radius: 10px;
}

#failure {
    color: red;
    background-color: rgb(252, 205, 205);
}

.no_notif {
    visibility: hidden;
}

#no_notif {
    display: none;
}

.table-container {
    width: calc(60% + 48px);
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .table-container p {
    margin: 12px 0;
  }
  
.table-content {
    width: 98%;
    border-collapse: collapse;
    box-sizing: border-box;
    min-height: 200px;
    border: #333 solid 1px;
    border-radius: 10px;
    margin: 0 4px;
    border: 1px 333 solid;
}

tr, td {
    border: 1px #333 solid;
}

td {
    text-align: center;
}

thead td {
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    background-color: #1e90ff;
    color: #fff;
}

tr {
    border: #ffff solid 2px;
}

tr:nth-child(even) {
    background-color: #a2cbf4;
}

tr:nth-child(odd) {
    background-color: #f9f7f7;
}

.table tr {
    border-bottom: 1px solid #ccc;
}
  
.table th, .table td {
    padding: 10px;
    text-align: left;
}
